cffi==1.15.1
charset-normalizer==3.0.0
cryptography==38.0.1
defusedxml==0.7.1
guppy3==3.1.2
odfpy==1.4.1
pdfminer.six==20220524
pdfplumber==0.7.5
Pillow==9.2.0
pycparser==2.21
Wand==0.6.10
Flask
requests